name: "Secret scanning"

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Run gitleaks
        uses: zricethezav/gitleaks-action@v1.2.2
        with:
          args: --no-git -v
